:root{
    --boarder-color: #e24f15;
    --text-color: hsl(101, 100%, 50%);
    --backgound-color: #f10ecb;


}
header {
    text-align: center;
    background-color: var(--backgound-color);

}

main {
    flex-wrap: wrap;
}

section {
   flex: 1 0 200px; 
   border: 1px dotted var(--boarder-color);
   background-color: var(--backgound-color);
   color:var(--text-color);
   text-align: center;
   border-radius: 6px;



}

section header {
    border: 2px solid var(--boarder-color);
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 40px;
}

pre{

}